{
    "env": {
      "es6": true,
      "browser": true,
      "node": true,
      "mocha": true
    },
    "globals": {
        "window": true,
        "console": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "settings": {
        "import/resolver": "webpack"
    }
}
